.header-pink{
    background: #FFDDD3;
}

.contenedor {
   max-height: 600px;
   overflow: hidden;
}

.contenedor-imagen1 {
    max-height: 400px;
    max-width: 400px;
    overflow: hidden;

}

.contenedor-productos {
    
}

/* Rectangle 2 */
.rectangle {
    position: absolute;
    width: 1500px;
    height: 600px;
    left: 1px;
    top: 180px;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 93.37%);
    mix-blend-mode: multiply;   
}

.contorno {
    padding: 12px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 32px;
    padding-left: 27px;
    padding-right: 27px;
}

.bordes {
    border-style: none;
    border: 0;
}

